@import "../../assets/styles/sass/resources";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0rem;

  @include tablet-up {
    max-width: 960px;
    padding: 0;
  }

  .content {
    background-color: var(--color-background, $color-background);

    .imageHeaderWrapper {
      position: relative;
      display: flex;
      flex-direction: column-reverse;

      @include tablet-up {
        flex-direction: column;
      }

      @include tablet-up {
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          height: $size-pages-header;
          width: 100%;
          background-color: var(
            --color-background-alpha,
            $color-background-alpha
          );
          backdrop-filter: blur(5px);
          z-index: 1;
        }
      }

      .imageBackgroundWrapper {
        position: relative;
        width: 100%;

        @include tablet-up {
          .background {
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            transform: translateX(-50%);
            width: 200vw;
            z-index: -1;
            height: 98%;
            background-image: var(--project-image, "");
            background-position: center;
            background-size: 100% 100%;
            filter: blur(8px);

            @include desktop-up {
              // left: -20%;
            }
          }
        }

        .imageWrapper {
          height: auto;
          position: relative;
          padding: 0 3rem;

          @include tablet-up {
            height: $size-pages-header * 2.3;
            padding: 0;
          }

          img {
            width: 100%;
            max-width: 960px;
            object-fit: contain;

            @include tablet-up {
              object-fit: fill;
              height: 98%;
            }
          }
        }
      }

      .header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 0;
        height: $size-pages-header;
        width: 100%;
        color: var(--color-text, $color-text);
        z-index: 2;
        filter: contrast(2);
        padding: 1.5rem;

        @include tablet-up {
          position: absolute;
        }

        .title {
          line-height: 1.15;
          font-weight: bold;
          text-align: center;
        }

        .info {
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          align-items: flex-start;
          justify-content: center;
          margin: 1rem 0;
          align-self: flex-start;

          @include tablet-up {
            flex-direction: row;
            align-items: center;
            justify-content: center;
            align-self: center;
          }

          > * {
            margin: 0 1rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-basis: 40%;
            @include tablet-up {
              flex-basis: initial;
            }
          }

          .infoIcon {
            font-size: $text-h5;
            margin: 0.5rem;
          }
        }

        .description {
          padding: 1rem;
          width: 96%;
          line-height: 1.5;
          text-align: justify;
          display: flex;
          align-items: center;
          justify-content: center;
          max-height: 13rem;
          overflow: hidden;

          @include tablet-up {
            width: 60%;
          }
        }
      }
    }

    .body {
      line-height: 1.5;
      padding: 2.5rem;
    }
  }
}

.shareButton {
  --share-size: 5rem;
  position: fixed;
  right: 1.5rem;
  z-index: $z-index-over;
  transition: top 0.5s ease;

  &[data-onscroll="false"] {
    top: 10rem;
  }

  &[data-onscroll="true"] {
    top: 1.5rem;
  }

  @include tablet-up {
    top: initial;
    --share-size: 4.2rem;
    bottom: 2rem;
    right: 8rem;
  }
}
