/node_modules/**
/.git/**
/.vscode/**
/build/**
/coverage/**
/docs/**
/jsdoc/**
/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
/tools/internal-rules/node_modules/**
test.js
!.eslintrc.js
/src/tests/mocks/*.js
src/serviceWorker.ts
/public/*.js
next.config.js
next-seo.config.js
next-env.d.ts
lint-staged.config.js