{
  "plugins": ["@typescript-eslint"],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "root": true,
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_user",
          "__NEXT_MODERN_BUILD",
          "__NEXT_CROSS_ORIGIN",
          "__WB_DISABLE_DEV_LOGS"
        ]
      }
    ],
    "prefer-const": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-explicit-any": "error"
  }
}
