@import "colors";
@import "sizes";

:global(body) {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%; // fallback
  font-size: var(--text-html, 62.5%);
  // width: 98.4vw;
  overflow-x: hidden;

  #__next {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
}

body {
  @include property_compat("font-size", --text-body, $text-body);
  @include property_compat(
    "background-color",
    --color-background,
    $color-background
  );
  @include property_compat("color", --color-text, $color-text);
  @include property_compat(
    "background-color",
    --color-background,
    $color-background
  );
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
