@import "mixins";

$color-background: #fff;
$color-background-alpha: toRGBA($color-background, 0.5);
$color-background-alt: #7b7ff6;
$color-background-alt-contrast: #fff;
$color-gray-line: #dcdde0;
$color-text: #4d4d4d;
$color-text-alt: #fff;
$color-text-gray: #a7a7a7;
$color-text-label: #707070;
$color-text-disabled: #dbdbdb;
$color-text-highlight: #9b9fff;
$color-primary: #7b7ff6;
$color-accent: #ff6961;
$color-accent-active: darken(#ff6961, 10);
$color-secondary: #4adede;
$color-secondary-light: #a5efef;
$color-warning: #ffa061;
$color-error: #ff6961;
$color-card-shadow: rgba(0, 0, 0, 0.2);

$color-background-dark: #525252;
$color-background-dark-alpha: toRGBA($color-background-dark, 0.5);
$color-gray-line-dark: #5a5a5a;
$color-text-dark: #e4e4e4;
$color-text-gray-dark: #dbdbdb;
$color-text-label-dark: #aaaaaa;
$color-text-disabled-dark: #686868;
$color-container-shadow-dark: rgba(255, 255, 255, 0.5);
