* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  image-rendering: auto;
  image-rendering: smooth;
}

@import "/node_modules/normalize-scss/sass/normalize";

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
input,
textarea,
button {
  font: 400 1.6rem "Inter", sans-serif;
}

body {
  transition: background-color 0.5s ease;
}
