$text-html: 62.5%;

$text-h1: 3.575rem;
$text-h2: 3.025rem;
$text-h3: 2.75rem; // 1.1x
$text-h4: 2.5rem; // 1.5x até aqui
$text-h5: 2rem;
$text-h6: 1.7rem;
$text-body: 1.6rem;
$text-description: 1.4rem;
$text-caption: 1.28rem;
$text-small: 1.024rem;

$letter-space-capital: 0.3rem;
$letter-space-thin-text: 0.3rem;
$letter-space-body: 0rem;
$letter-space-bold: -0.1rem;
$letter-space-large-text: -0.2rem;

$z-index-default: auto;
$z-index-over: 99;
$z-index-over-all: 999;

$max-page-size-tablet: 960px;
$max-page-size-desktop: 1000px;
$max-page-size-desktop-big: 1200px;
$size-pages-header: 30rem;

$mobile-padding-size: 1.5rem;
