$text-html: 62.5%;

$text-h1: 4.88rem;
$text-h2: 3.9rem;
$text-h3: 3.125rem;
$text-h4: 2.5rem;
$text-h5: 2rem;
$text-h6: 1.7rem;
$text-body: 1.6rem;
$text-caption: 1.28rem;
$text-small: 1.024rem;

$letter-space-capital: 0.3rem;
$letter-space-thin-text: 0.3rem;
$letter-space-body: 0rem;
$letter-space-bold: -0.1rem;
$letter-space-large-text: -0.2rem;
