@import "../../assets/styles/sass/resources";

.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  min-width: 35rem;
  max-width: 35rem;
  // min-width: clamp(25rem, 35rem, 350px);
  box-shadow: 0 0 2rem var(--color-card-shadow, $color-card-shadow);
  margin: 1.5rem;
  padding: 1.5rem;

  .photo {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background-blend-mode: multiply;
    background-position: center top;
    background: var(--collaborator-photo-url),
      linear-gradient(
        45deg,
        lighten($color-accent, 10%),
        lighten($color-primary, 20%)
      );
    box-shadow: 0 0 0.1rem 0rem var(--color-accent, $color-accent);
  }

  .name {
    font-weight: bold;
    font-size: $text-h5;
    margin: 2rem 0;
  }

  .biography {
    text-align: justify;
    min-height: 15rem;
    height: 15rem;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
  }
}
