@import '../../assets/styles/sass/resources';

.container {
  position: relative;
  min-height: 7rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  background-color: transparent;
  overflow: hidden;

  @include tablet-up {
    position: relative;
    min-height: 9rem;
  }
}
