@import '../../assets/styles/sass/resources';

.container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
    margin: 2rem 0 0.5rem 0;
    border-bottom: 3px solid var(--color-primary, $color-primary);
    display: inline-block;
  }

  ul,
  ol {
    li {
      // text-indent: 1.5rem;
      list-style-type: initial;
      list-style-position: inside;
      display: flex;

      &:before {
        content: '';
        height: 5px;
        width: 5px;
        min-height: 5px;
        min-width: 5px;
        border-radius: 50%;
        background: #333;
        margin: 10px 5px 0px 5px;
      }

      p {
        text-align: justify;
      }
      li {
        text-indent: 1rem;
        list-style-type: initial;
        list-style-position: inside;
        display: flex;

        &:before {
          content: '';
          height: 5px;
          width: 5px;
          min-height: 5px;
          min-width: 5px;
          border-radius: 50%;
          background: #333;
          margin: 10px 5px 0px 5px;
        }

        p {
          text-align: justify;
        }
      }
    }
  }

  > p {
    text-align: justify;
    line-height: 2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    hyphenate-limit-chars: 10 4 4;
    margin-bottom: 1rem;
  }

  .embeddedWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin: 1rem auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet-up {
      margin: 2rem auto 1rem auto;
    }

    iframe {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      display: block;

      @include tablet-up {
        width: 90%;
        height: 90%;
      }
    }
  }

  figure {
    max-width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    position: relative;

    @include tablet-up {
      max-width: 90%;
      margin: 2rem auto 2rem auto;
    }

    figcaption {
      position: absolute;
      bottom: 0;
      max-width: 75%;
      height: $text-caption * 5;
      padding: 1rem;
      font-size: var(--text-caption, $text-caption);
      color: var(--color-text, $color-text);
      z-index: 2;
      font-weight: bold;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      word-wrap: break-word;
      overflow: hidden;
    }

    &:after {
      content: var(--img-caption-content, '');
      bottom: 0;
      background-color: var(--color-background, $color-background);
      position: absolute;
      height: $text-caption * 5;
      opacity: 0.7;
      width: 100%;
      left: 0;
      z-index: 1;
    }
  }
}
