@import "../../assets/styles/sass/resources";

.container {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 500;
  }

  ul,
  ol {
    padding-left: 3rem;
    li {
      text-indent: 1.5rem;
      list-style-type: initial;
      list-style-position: inside;
      p {
        display: inline;
      }
      li {
        text-indent: 3rem;
        list-style-type: initial;
        list-style-position: inside;
        p {
          display: inline;
        }
      }
    }
  }

  > p {
    text-align: justify;
    line-height: 2;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    hyphenate-limit-chars: 10 4 4;

    &:first-letter {
      // color: var(--color-primary, $color-primary);
      font-size: 200%;
      text-transform: capitalize;
      cursor: text;
    }

    &::first-line {
      line-height: 1.4;
    }
  }

  .embeddedWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    margin: 1rem auto;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      display: block;
    }
  }

  figure {
    max-width: 100%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    position: relative;

    figcaption {
      position: absolute;
      bottom: 0;
      max-width: 75%;
      height: $text-caption * 5;
      padding: 1rem;
      font-size: var(--text-caption, $text-caption);
      color: var(--color-text, $color-text);
      z-index: 2;
      font-weight: bold;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      word-wrap: break-word;
      overflow: hidden;
    }

    &:after {
      content: "";
      bottom: 0;
      background-color: var(--color-background, $color-background);
      position: absolute;
      height: $text-caption * 5;
      opacity: 0.7;
      width: 100%;
      left: 0;
      z-index: 1;
    }
  }
}
