@import "../../assets/styles/sass/resources";

.container {
  position: absolute;
  svg path {
    filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.4));
  }

  @include mobile-up {
    &.mobile {
      top: -4rem;
      height: 4.3rem;
    }
  }

  @include tablet-up {
    &.noMobile {
      top: -6rem;
      height: 6.1rem;
    }
  }
}
