@import "../../assets/styles/sass/resources";

.containerMenuTop {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 6rem;

  @include tablet-up {
    display: none;
  }

  .menuIconTopWrapper {
    height: inherit;
    padding: 1.5rem;

    .menuIconTop {
      height: inherit;
    }
  }
}

.containerMenuMain {
  position: fixed;
  height: 100vh;
  width: 80vw;
  background-color: var(--color-background, $color-background);
  color: var(--color-text, $color-text);
  right: 0;
  top: 0;
  transform: translateX(100vw);
  overflow: hidden;
  animation: menuSlideOut 0.5s ease forwards;

  z-index: $z-index-over-all;

  &.active {
    animation: menuSlideIn 0.5s ease forwards;
  }

  @include tablet-up {
    max-width: 100%;
  }

  .containerInnerMenuMain {
    @include tablet-up {
      max-width: 960px;
    }

    .menuMainList {
      display: flex;
    }
  }
}

.containerMenuBottom {
}
