@import "../../assets/styles/sass/resources";

@keyframes loading-rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loading-blink {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 0.9;
  }
}

.container {
  transform: scale(0.25);
  .text {
    font-size: 5rem;
    font-weight: bold;
    color: var(--color-text, $color-text);

    animation: loading-blink 2s ease-out infinite;
  }
  .iconText {
    display: none;
  }
  .iconGear {
    display: block;
    animation: loading-rotate 2s cubic-bezier(1, 0, 0.5, 1) infinite;
    transform-origin: 215px 291px; // ou 215px 291px
    path {
      fill: var(--color-primary, $color-primary);
      filter: drop-shadow(0 0 1rem var(--color-background, $color-background));
      &:last-child {
        fill: #00000000;
      }
    }
    // width: 300px;
    // height: 300px;
  }
}
