@import "../../assets/styles/sass/resources";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sbIconWrapper {
  margin: 0 3rem;

  > * {
    font-size: 4.8rem;
    transition: color 0.5s ease;

    &:hover {
      color: var(--color-accent, $color-accent);
    }

    @include tablet-up {
      font-size: 5.6rem;
    }
  }
}
